logs/php/error.log
app/public/wp-admin
app/public/wp-includes
app/public/wp-content/themes/twentytwentyfour
app/public/wp-content/themes/twentytwentythree
app/public/wp-content/themes/twentytwentytwo
app/public/wp-content/uploads/2017
app/public/wp-content/uploads/2018
app/public/wp-content/uploads/2019
app/public/wp-content/uploads/2021
app/public/wp-content/uploads/2022
app/public/wp-content/ai1wm-backups
logs
app/public/wp-content/themes/construction-elementor
app/public/wp-content/uploads/cartflows-logs
app/public/wp-content/uploads/ai-builder
app/public/wp-content/uploads/wc-logs
app/public/wp-content/uploads/woocommerce_uploads
app/public/wp-content/uploads/wpforms
app/public/wp-content/languages/loco/plugins
